<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="showcase">
      <header>
        <h2 class="logo">
          Bienvenue dans le site officiel de Laboratoire BenHmida-Chaieb
        </h2>
      </header>
      <video src="assets/images/v1.mp4" muted loop autoplay></video>
    </div>

    <br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><!----><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />

    <h1 class="articles">Articles</h1>
    <div class="card-group">
        
      <div class="card">
        <img
          src="assets/images/i.jpg"
          height="300"
          width="616"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">L'HEPATITE</h5>
          <details class="card-text">
            <summary>
              Le virus de l'hépatite C (VHC) est le principal agent responsable
              de l'hépatite virale chronique. La cirrhose et le carcinome
              hépatocellulaire sont les principales complications de cette
              infection.
            </summary>
            Plus que 170 millions d’individus (3% de la population mondiale)
            sont des porteurs chroniques du VHC dans le monde. La distribution
            de l'infection par le VHC varie selon les régions géographiques avec
            des prévalences allant de moins de 1% à plus de 20%. Cette
            séroprévalence est plus élevée chez les sujets à risque accru de
            contamination à savoir les polytransfusés, les toxicomanes et les
            hémodialysés… La répartition des différents génotypes est,
            également, variable selon les régions et les pays dans le monde (1).
            L’histoire naturelle, les caractéristiques épidémiologiques et les
            facteurs de risque de cette infection ont fait l’objet de plusieurs
            études dans le monde. D’autre part, la prise en charge thérapeutique
            a connu des progrès considérables durant la dernière décennie
            ouvrant les propriétés d’éradication totale du virus dans le monde.
            Ceci a incité les autorités sanitaires en Tunisie à lancer en 2016
            un programme national d'élimination de l’hépatite C. L’objectif de
            ce travail est de faire une mise au point sur les différents aspects
            de l’infection par le VHC en Tunisie en se référant aux études
            tunisiennes publiées de 1991 à 2019. Méthodes Une recherche globale
            des publications tunisiennes a été menée dans «Pubmed»:
            https://pubmed.ncbi.nlm.nih.gov/ , dans «Google Scholar »:
            https://scholar.google.com/ ainsi que dans le site web «Wiley online
            library»: https://onlinelibrary.wiley.com/. Ces derniers ont été
            utilisées pour la recherche bibliographique avec plusieurs
            combinaisons sans fixation d’une période précise: (“HCV” AND
            “Tunisia”), (“Hepatitis C Virus” AND “Tunisia”), (“Virus de
            l’hépatite C” AND “Tunisie”), (“Hepatitis Infection” AND “Tunisia”),
            (“Infection Diseases” AND “Tunisia”), (“HCV” AND ”History” AND
            “Tunisia”), (“HCV” AND ”Prevalence” AND “Tunisia”), (“HCV” AND
            “Screening” AND” Tunisia”), (“HCV” AND “Epidemiology” AND
            “Tunisia”), (“HCV” AND “Genotypes” AND “TUNISIA”), (“HCV” AND
            “Phylogenetic Analysis” and “TUNISIA”), (“HCV” AND “Treatment” and
            TUNISIA”), (“HCV” AND “Therapy” and TUNISIA”), (“HCV” AND
            “Polymorphism” AND “Tunisia”), (“HCV” AND “Risk Factors” AND
            “Tunisia”). Seuls les articles scientifiques publiés ont été
            considérés. Résultats et Discussion Séroprévalence du VHC en Tunisie
            : Vingt études résumées dans le tableau 1, se sont intéressées à la
            séroprévalence du VHC en Tunisie. Certaines études ont rapporté la
            prévalence des anticorps anti VHC dans la population générale ou
            dans une région bien déterminée de la Tunisie. Gorgi et al. ont
            rapporté en 1998, que le VHC est présent chez 0.7% de la population
            générale en Tunisie (2). Mejri et al. ont comparé, dans une étude
            menée en 2005, la prévalence de ce virus entre deux régions de la
            Tunisie : Béja ; Nord-Ouest et Tataouine ; Sud de la Tunisie.
            L’infection était nettement plus fréquente à Béja avec une
            différence statistiquement significative (1.7% versus 0.2%
            respectivement) (3). Un résultat analogue a été retrouvé par
            Bettaieb et al. en 2019. Cette étude démographique portant sur 3178
            sujets originaires de Thala (Centre Ouest de la Tunisie) a montré
            une prévalence de 3.2% du VHC dans cette région (4). Une autre étude
            publiée par Triki et al. en 1997, a comparé la prévalence du virus
            entre deux groupes d’individu : des jeunes recrus pour le service
            militaire (âgé entre 20 et 25 ans) et un groupe d'individus en bon
            état de santé choisis au hasard (tous âges inclus). Les résultats
            ont donné une prévalence faible de 0.2% et 0.4% dans les groupe 1 et
            2, respectivement (5). De même, sur 175322 jeunes recrus dans le
            service militaire (population masculine et jeune), la prévalence de
            l’infection par l’hépatite C était faible avec seulement 0.07% de
            sérologies positives (6). Ceci incite sur le fait que la prévalence
            de cette maladie n’aurait pas connu de hausse au fils des années
            chez la population jeune tunisienne. Certains travaux ont rapportés
            la séroprévalence du VHC chez des sujets avec des profils cliniques
            particuliers. Chez les hémodialysés les prévalences étaient élevées
            s’allant de 7.3% à 46.5% selon sept études réalisées dans
            différentes régions en Tunisie (7–12). Ces résultats sont proches de
            ceux retrouvés dans les autres pays de l’Afrique du Nord (13) mais
            plus élevés par rapport aux pays développés (14). Maaref et al. se
            sont intéressés à des patients porteurs du virus de
            l’immunodéficience humaine (VIH) et ils ont trouvé des valeurs
            élevées de 26.4% et 39.7%, respectivement (15,16). La fréquence de
            cette co-infection VIH-VHC a été expliquée par les moyens de
            contamination similaires des deux virus en particulier la
            toxicomanie par voie intraveineuses et les relations sexuelles non
            protégées. Pour le personnel de la santé, sur 885 sujets, 9 (1%)
            avait une sérologie positive pour le VHC selon une étude menée à
            Sousse en 2005 (17). Quatre études portant sur un effectif élevé des
            donneurs de sang en Tunisie (2006 à 43000 sujets inclus) ont
            indiqués une prévalence du VHC qui varie entre 0.56% et 1.9% chez
            cette population (18–21). Pour les transplantés rénaux la prévalence
            de ce virus était élevée (20.9%) (22). En outre, Kaabia et al. ont
            comparé la présence des anticorps anti VHC chez deux groupes de
            personnes; diabétiques et non diabétiques et ils n’ont pas trouvé
            une différence significative (1.3% versus 0.6% respectivement)
            (23).--> Ainsi l’analyse de la littérature tunisienne pour ce qui
            est de la séroprévalence du VHC en Tunisie montre qu’elle est
            relativement faible et ne dépasse pas le 1% dans la population
            générale. Par ailleurs, les chiffres sont plus élevés chez des
            sujets à risque comme les hémodialysés et les patients connus VIH
            positifs. Elle varie aussi selon la région géographique avec une
            prévalence plus élevée dans le Nord-Ouest du pays.
          </details>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="assets/images/im3.jpg"
          height="300"
          width="616"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">LE DIABETE</h5>
          <details class="card-text">
            <summary>
              Il se caractérise par une augmentation des mictions et de la soif,
              ainsi qu’une possible perte de poids involontaire. Le diabète lèse
              les nerfs et entraîne des troubles de la sensibilité.
            </summary>

            Le diabète lèse les vaisseaux sanguins et augmente le risque de
            crise cardiaque, d’accident vasculaire cérébral, d’insuffisance
            rénale chronique et de perte de la vision. Les médecins
            diagnostiquent le diabète en mesurant les taux de glycémie. Les
            personnes atteintes de diabète doivent suivre un régime alimentaire
            sain, pauvre en glucides raffinés (y compris en sucre), en graisses
            saturées et en aliments transformés. Elles ont également besoin de
            faire de l’exercice et prennent habituellement des médicaments pour
            abaisser les taux de sucre dans le sang. Le diabète sucré est un
            trouble dans lequel la quantité de sucre dans le sang est élevée.
            Les médecins utilisent souvent le nom de diabète sucré, plutôt que
            seulement diabète, pour le différencier du diabète insipide. Le
            diabète insipide est une maladie relativement rare qui n’affecte pas
            les taux de glucose sanguin mais qui, tout comme le diabète sucré,
            provoque également une augmentation des mictions. Glycémie Les trois
            principaux nutriments qui composent la plupart des aliments sont les
            glucides, les protéines et les lipides. Les sucres sont l’un des
            trois types de glucides, avec les féculents et les fibres. Il existe
            de nombreux types de sucres. Certains sucres sont simples et
            d’autres sont complexes. Le saccharose (sucre de table) est composé
            de 2 sucres simples : le glucose et le fructose. Le lactose (sucre
            du lait) est composé de glucose et d’un sucre simple appelé
            galactose. Les glucides présents dans les féculents, comme le pain,
            les pâtes, le riz et les denrées apparentées sont constitués de
            longues chaînes de différentes molécules de sucres simples. Le
            saccharose, le lactose, les glucides et d’autres sucres complexes
            doivent être dégradés en sucres simples grâce à des enzymes du tube
            digestif avant que l’organisme ne puisse les absorber. Une fois que
            l’organisme absorbe les sucres simples, il les transforme
            généralement tous en glucose, qui est une importante source
            d’énergie pour l’organisme. Le glucose est le sucre qui est
            transporté dans le sang et capté par les cellules. L’organisme peut
            également produire du glucose à partir des lipides et des protéines.
            Le « sucre » dans le sang désigne en fait le glucose dans le sang.
            Did You Know... Le « sucre » dans le sang désigne en fait le glucose
            dans le sang. Insuline L’ insuline, une hormone sécrétée par le
            pancréas (un organe situé derrière l’estomac qui produit également
            des enzymes digestives), contrôle la quantité de glucose dans le
            sang. Le glucose dans la circulation sanguine stimule le pancréas à
            produire de l’ insuline. L’insuline aide le glucose à passer du sang
            vers les cellules. À l’intérieur des cellules, le glucose est
            converti en énergie qui est utilisée immédiatement ou il est stocké
            sous forme de graisse ou de glycogène jusqu’à ce qu’il soit
            nécessaire. Mode d’action de l’insuline Mode d’action de
            l’insuline3D MODEL: Le taux de glucose dans le sang varie
            normalement pendant la journée. Il augmente après un repas et
            revient aux niveaux observés avant le repas dans les 2 heures
            suivant le repas. Une fois que le taux de glucose dans le sang est
            revenu au taux observé avant le repas, la production d’ insuline
            diminue. La variation de la glycémie est comprise en général entre
            70 et 110 milligrammes par décilitre (mg/dl), ou 3,9 à 6,1
            millimoles par litre (mmol/l) de sang, chez les personnes en bonne
            santé. En cas de prise de glucides en grande quantité, les
            concentrations peuvent encore plus augmenter. Les personnes de plus
            de 65 ans ont tendance à présenter des taux très légèrement
            supérieurs, le plus souvent après les repas. Si l’organisme ne
            produit pas assez d’ insuline pour transporter le glucose dans les
            cellules, ou si les cellules cessent de réagir normalement à l’
            insuline (on appelle ceci une « résistance à l’insuline »), le taux
            élevé de glucose dans le sang et la quantité inadaptée de glucose
            dans les cellules qui en résultent produisent ensemble les symptômes
            et les complications du diabète
          </details>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="assets/images/im2.jpg"
          height="300"
          width="616"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">L'ENEMEIE FERRIPRIVE </h5>
          <details class="card-text">
            <summary>
              L’anémie se caractérise par une diminution du nombre de globules
              rouges dans le sang ou de leur teneur en hémoglobine. Les
              principaux symptômes, lorsqu’il y en a, sont la fatigue, un teint
              pâle et un essoufflement plus prononcé à l’effort.
            </summary>
            L’anémie ferriprive survient en raison d’une carence en fer. Le fer
            se lie au pigment « hème » de l’hémoglobine qui apporte l’oxygène
            aux cellules du corps. L’oxygène est un élément essentiel aux
            cellules pour qu’elles puissent produire de l’énergie et accomplir
            leurs fonctions. L’anémie ferriprive est le plus souvent causée par
            des pertes de sang aiguës ou chroniques ou par un manque de fer dans
            l’alimentation. En effet, l’organisme ne peut synthétiser le fer et
            doit donc le puiser dans les aliments. Plus rarement, elle peut être
            attribuable à des problèmes d’utilisation du fer dans la fabrication
            de l’hémoglobine. La plupart des personnes ayant une anémie
            ferriprive légère ne le remarquent pas. Les symptômes dépendent en
            grande partie de la vitesse à laquelle l’anémie s’est installée.
            Lorsque l’anémie apparaît progressivement, les symptômes sont moins
            évidents. Une fatigue anormale Le teint pâle Un pouls rapide Un
            essoufflement plus prononcé à l’effort Les mains et les pieds froids
            Des maux de tête Des étourdissements Une diminution des performances
            intellectuelles Les femmes en âge de procréer, qui ont des
            menstruations très abondantes, car il y a perte de fer dans le sang
            menstruel. Les femmes enceintes et celles qui ont des grossesses
            multiples et rapprochées. Les adolescentes. Les enfants, surtout de
            6 mois à 4 ans. Les personnes atteintes d’une maladie qui entraîne
            une malabsorption du fer : la maladie de Crohn ou la maladie
            coeliaque, par exemple. Les personnes ayant un problème de santé qui
            cause des pertes de sang de façon chronique dans les selles (non
            visibles à l’oeil) : un ulcère gastroduodénal, des polypes bénins au
            côlon ou un cancer colorectal, par exemple. Les personnes
            végétariennes, surtout si elles ne consomment aucun produit de
            source animale (régime végétalien). Les bébés qui ne sont pas
            allaités. Les personnes qui consomment régulièrement certains
            médicaments, comme des antiacides de type inhibiteurs de la pompe à
            protons pour soulager des brûlures d’estomac. L’acidité de l’estomac
            transforme le fer alimentaire en une forme assimilable par
            l’intestin. L’aspirine et les anti-inflammatoires non stéroïdiens
            peuvent aussi, à long terme, causer des saignements dans l’estomac.
            Les personnes souffrant d’insuffisance rénale, surtout celles sous
            dialyse.
          </details>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-center">
        <div class="icon">
          <i class="fas fa-info"></i>
        </div>
        <h3>About us</h3>
        <p class="about">
          On a le plaisir de mettre à la disposition de nos chers patients et de
          leurs médecins la toute dernière technologie sécurisée du web pour
          leur permettre de consulter en temps réel les résultats de leurs
          analyses en utilisant leurs codes d'accès livrés par nos soins. A
          chaque changement vous recevrez un Email de notification. Pour toutes
          informations n'hésitez pas à nous contacter.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="icon">
          <i class="fas fa-address-book"></i>
        </div>
        <h3>Contact us</h3>
        <pre class="contact">
        <i class="fas fa-map-marker-alt"></i> <strong>Adresse :</strong> cité Ones Km 12
        <i class="fab fa-internet-explorer"></i><strong> SiteWeb :  </strong><a href="#">www.khrouf.labo.tn</a>
        <i class="fas fa-envelope"></i><strong> Email : </strong><a href="#">contact@khrouf.labo.tn</a>
        <i class="fas fa-phone"></i><strong> Telephone : </strong>(+216) 74 406 380 - 74 406 381
        (+216) 74 406 382

    </pre>
      </div>
      <div class="col-md-4 text-center">
        <div class="icon">
          <i class="fas fa-business-time"></i>
        </div>
        <h3>Nos horaires</h3>
        <pre class="temps">
            
        Lundi - Vendredi       07.00 - 19.00
        <hr>
        Samedi                 07.00 - 13.00

     </pre>
      </div>
    </div>

    <footer>All Right reserved web Master</footer>
  </body>
</html>
